.App {
  text-align: center;
  /* background-color: #282c34; */
  /* color: white; */
  min-height: 100vh;
}

.shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

a:hover {
  text-decoration: underline;
}